body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.digital-card {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.header {
    background-color: #512da8;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.content {
    padding: 20px;
}

.content img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 10px 0;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: small;
}

.social-links a:hover {
    color: #050408;
}
